* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

/* header section  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem 1rem;
}

.brand_logo {
    font-size: larger;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
    margin: 0rem 1rem;
    font-size: ;
    list-style: none;
    cursor: pointer;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: rgb(55, 71, 125);
}

.right_icons ul li {
    display: inline-block;
    color: black;
    margin: 0rem 0.7rem;
    cursor: pointer;
}

.right_icons ul li a {
    color: black;
    text-decoration: none;
}


/* hero section   */
.hero_bg {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 20px;
    background-image: url("hero_img2.jpg");
    background-repeat: no-repeat;
    background-attachment: cover;


}

.left_btns {
    margin-top: 12px;
    margin-bottom: 90px;
}

.left_hero h1 {
    font-size: 6rem;
    color: white;
    line-height: 7rem;
}

.btn_shop {
    border: 1px solid white;
    background: white;
    border-radius: 12px;
    padding: 12px 15px;
}

.btn_categories {
    border: 1px solid rgb(176, 155, 73);
    background-color: rgb(176, 155, 73);
    border-radius: 12px;
    padding: 12px 15px;
    color: white;
    margin-left: 10px;
}

.explore_cart {
    background-color: white;
    margin-right: 20px;
    padding: 10px 10px 20px 10px;
    cursor: pointer;
}

.explore_cart img:hover {
    transform: scale(1.1);
}

.explore_cart p {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    padding-top: 14px;
}

/* banner section   */
.banner {
    margin: 3rem 2rem 3rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1;
    gap: 5rem;
    overflow: wrap;
}

.banner_item p {
    font-size: smaller;
}

.banner_item i {
    font-size: 2.5rem;
}

.banner_item i,
.banner_item h3 {
    margin-bottom: 0.7rem;
}

/* advertisting section   */
.advertising_cards {
    display: grid;
    margin-bottom: 4rem;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
    gap: 4rem;
    margin: 0rem 2rem 4rem 2rem;
    overflow-wrap: break-word;

}

.advertising_cards .left_card {
    background-image: url(card_img1.jpg);
}

.advertising_cards .left_card,
.advertising_cards .right_card {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 9px;
    padding-left: 2rem;

}

.advertising_cards .left_card:hover,
.advertising_cards .left_card:hover {
    transform: scale(1);
}

.advertising_cards .right_card {
    background-image: url(card_img3.jpg);
}

.advertising_cards .left_card button,
.advertising_cards .right_card button {
    margin-top: 2rem;
    font-weight: bold;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.6rem 1.5rem;
}

.advertising_cards .left_card h1,
.advertising_cards .right_card h1 {
    margin-top: 5rem;
    color: white;
}

.advertising_cards .left_card .btn_shop,
.advertising_cards .right_card .btn_shop {
    margin-bottom: 5rem;
}

/* best seller section   */
.best_seller h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.shoes_cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.shoe_card img {
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

/* catagory section   */
.catagory_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 3rem 2rem 3rem;
}

.Catagory_cards {
    display: flex;
    overflow: hidden;
    justify-content: space-around;

}

.our_catagories h1 {
    font-size: 3rem;
}

.catagory_header .btns {
    display: flex;
    gap: 2rem;
}

.btns .previous_btn,
.btns .next_btn {
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

/* slider section  */
.hero {
    border-radius: 18px;
    overflow: hidden;
    margin: 3rem 3rem;
    position: relative;
    box-shadow: 0 18px 40px rgba(0, 0, 0, .35);
}

.track {
    display: flex;
    width: 300%;
    animation: run 15s infinite;
}

@keyframes run {
    0% {
        transform: translateX(0)
    }

    33.333% {
        transform: translateX(0)
    }

    33.334% {
        transform: translateX(-33.333%)
    }

    66.666% {
        transform: translateX(-33.333%)
    }

    66.667% {
        transform: translateX(-66.666%)
    }

    100% {
        transform: translateX(-66.666%)
    }
}

.slide {
    width: 33.3333%;
    position: relative;
    min-height: 450px;
}

.slide img {
    width: 100%;
    height: 450px;
    min-height: 450px;
    object-fit: cover;
    display: block;
}

.left_section {
    position: absolute;
    left: 56px;
    top: 130px;
    z-index: 2;
    color: #fff;
    max-width: 520px;
}

.Weekend_offer button {
    border: 1px solid white;
    border-radius: 8px;
    background: white;
    color: black;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

.left_section h1 {
    font-size: 3.5rem;
}

/* comments section  */
.comment_section {
    margin: 4rem 3rem 2rem 3rem;

}

.comment_cards {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 2rem;
}

.comment_card {
    display: flex;
    gap: 3rem;
}

.shoe_img img {
    border-radius: 8px;
}


.customer_profile img {
    margin-top: 2rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

/* footer section   */
.footer_links {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 4rem;
}

.footer_links .navigation ul li,
.footer_links .catagories ul li,
.footer_links .utility_Pages ul li,
.footer_links .our_locations ul li,
.footer_links .ny_store ul li {
    list-style: none;

}

.footer_links .navigation p,
.footer_links .catagories p,
.footer_links .utility_Pages p,
.footer_links .our_locations p,
.footer_links .ny_store p {
    margin-top: 8rem;
    font-weight: bolder;
}

.footer_links .navigation ul li a,
.footer_links .catagories ul li a,
.footer_links .utility_Pages ul li a,
.footer_links .our_locations ul li a,
.footer_links .ny_store ul li a {
    text-decoration: none;
    color: rgb(57, 55, 55);
    line-height: 2rem;
    font-size: 0.9rem;
}

.footer_content ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: rgb(57, 55, 55);
}


/* =========================
  small-screen (max-width: 576px)
========================= */
@media (max-width: 576px) {

    header {
        flex-direction: column;
        gap: 10px;
    }

    .navbar ul li {
        display: block;
        margin: 8px 0;
        text-align: center;
    }

    .hero_bg {
        flex-direction: column;
        text-align: center;
    }

    .left_hero h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .right_hero {
        margin-top: 20px;
    }

    .banner {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .advertising_cards {
        grid-template-columns: 1fr;
    }

    .shoes_cards {
        grid-template-columns: 1fr;
        margin-left: 0;
        text-align: center;
    }

    .comment_cards {
        flex-direction: column;
    }

    .comment_card {
        flex-direction: column;
        text-align: center;
    }

    .footer_links {
        flex-direction: column;
        text-align: center;
    }

    .footer_content ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}


/* =========================
  medium-screen (577px - 992px)
========================= */
@media (min-width: 577px) and (max-width: 992px) {

    header {
        flex-wrap: wrap;
    }

    .hero_bg {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left_hero h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .banner {
        grid-template-columns: 1fr 1fr;
    }

    .advertising_cards {
        grid-template-columns: 1fr;
    }

    .shoes_cards {
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        gap: 20px;
        text-align: center;
    }

    .comment_cards {
        flex-direction: column;
    }

    .footer_links {
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* =========================
   large-screen (993px - 1200px)
========================= */
@media (min-width: 993px) and (max-width: 1200px) {

    .shoes_cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .banner {
        grid-template-columns: 1fr 1fr;
    }

    .advertising_cards {
        grid-template-columns: 1fr 1fr;
    }

    .left_hero h1 {
        font-size: 5rem;
        line-height: 5.5rem;
    }
}

/* mobile menu icon */
.menu_toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 28rem;
}

/* sidebar */
.mobile_sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: 0.3s ease;
    z-index: 999;
}

.mobile_sidebar ul {
    list-style: none;
    margin-top: 40px;
}

.mobile_sidebar ul li {
    margin: 15px 0;
}

.mobile_sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.close_btn {
    text-align: right;
    font-size: 1.5rem;
    cursor: pointer;
}

/* show sidebar */
.mobile_sidebar.active {
    left: 0;
}

/* mobile view only */
@media (max-width: 576px) {
    .brand_logo {
        margin-right: 24rem;
    }

    .navbar,
    .right_icons {
        display: none;
    }

    .menu_toggle {
        display: block;
    }
}